# Python caches
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environment
venv/
env/
ENV/
.env

# IDE settings (VS Code / PyCharm)
.vscode/
.idea/

# Database temporary files or local backups
*.bak
*.log

# Windows thumbnail cache
Thumbs.db